<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .postBox{
          border:black solid 1px;
          border-radius: 10px;
          padding: 15px;
          margin-bottom: 20px;
        }

        .report{
          background-color: #D34A4A;
          color:white;
          padding: 10px;
          border-radius: 15px;
        }

        .reported{
          color:red
        }
    </style>
</head>

<body>
  <% posts.forEach(posts => { %>
    <div class="postBox">
      <h2><%= posts.title %></h2>
      <p><%= posts.body %></p>
      <p><%= posts.time %></p>
      <form action="post/report/<%= posts.id %>" method="post">
        <button class="report" type="submit">Report Button</button>
      </form>
    </div>
  <% }) %>

  <div>
    <h2 class="reported"></h2>
  </div>
</body>

</html>