<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Laila:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.css">
    <style>
        .report{
          background-color: #D34A4A;
          color:white;
          padding: 10px;
          border-radius: 15px;
        }
    </style>
</head>

<body>
  <h1>Hello</h1>
  <p>This post is only created just so it can be reported</p>
  <p>January 2, 2023</p>
  <form>
    
  </form>
  <a class="report" href="/notes/:id/report">Report Button</a>



    <script>
        var answerDiv = document.querySelector("div")
        var rightWrong = document.querySelector("h2")
        var nextButton = document.querySelector("#nextButton")
        var scoreNum = document.querySelector("#score")
        var instructorFace = document.querySelector("#image")
        var buttondamn = document.querySelectorAll(".button")
        function SendAnswer(ans, ques) {
            buttondamn.forEach(elem=>{elem.disabled = true})
            fetch(`http://localhost:3000/checkAnswer?answer=${ans}&question=${ques}`).then(async (data) => {
                //console.log(await data.json())
                const results = await data.json();

                if (results.fact){
                    // answerDiv.classList.add("visible")
                    rightWrong.innerText = ("Correct")
                    nextButton.classList.add("visibleNextButton")
                    nextButton.classList.remove("defaultNextButton")
                    instructorFace.classList.remove("defaultNextButton")
                    instructorFace.classList.add("visibleNextButton")
                    // scoreNum.innerText = results.finalScore
                    instructorFace.src = results.image
                    console.log(document.getElementById("nextButton").href)
        


                } else {
                    // answerDiv.classList.add("visible")
                    rightWrong.innerText = ("Wrong")
                    nextButton.classList.add("visibleNextButton")
                    nextButton.classList.remove("defaultNextButton")
                    instructorFace.classList.remove("defaultNextButton")
                    instructorFace.classList.add("visibleNextButton")
                    // scoreNum.innerText = results.finalScore
                    instructorFace.src = results.image
                    console.log(document.getElementById("nextButton").href)

                }
                if(document.getElementById("nextButton").href === "http://localhost:3000/quiz?q=10"){
                    document.getElementById("nextButton").href = "CHANGE THIS TO WHATEVER PAGE ITS SUPPOSED TO ROUTE TO FOR THE FINAL SCORE"
                }
            })
            return
        }
    </script>
</body>

</html>