<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reported</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>These posts have been reported, please review if they must be deleted</h1>
  <% reportPosts.forEach(reportPosts => { %>
    <div class="postBox">
      <h2><%= reportPosts.title %></h2>
      <p><%= reportPosts.body %></p>
      <p><%= reportPosts.time %></p>
      <form action="post/delete/<%= reportPosts.id %>" method="post">
        <button class="report" type="submit">Delete</button>
      </form>
    </div>

  <% }) %>

  <div>
    <h2 class="reported"></h2>
  </div>

</body>

</html>