@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

body {
  display: block;
  background-color: #f6f0f0;
}

.postBox {
  border-radius: 10px;
  padding: 15px 30px 30px 30px;
  margin-bottom: 20px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: #FFF;
  box-shadow: rgba(173, 81, 38, 0.15) 0px 5px 10px;
  overflow-wrap: break-word;
  color: rgb(53, 53, 53);
}

.report {
  background-color: #D34A4A;
  color: white;
  padding: 10px;
  border-radius: 15px;
  margin-left: 1em;
}

.reported {
  color: red
}

button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 2em;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  outline: transparent;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 25px;
  margin-left: 20px;
  box-shadow: rgba(173, 81, 38, 0.15) 0px 5px 10px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  font-size: 14px;
  padding: 1em;
  outline: transparent;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.savebtn {
  padding: 0.75em;
  border-radius: 15px;
}

a {
  text-decoration: none;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: none;
  color: white;
  font-size: 14px;
  padding: 0.5em;
  border-radius: 15px;
}

.formbtn {
  margin: 25px 400px 20px 400px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 25px 400px 20px 400px;
}

.form>input {
  margin-top: 1em;
  height: 2em;
}

h1 {
  margin: 25px 400px 50px 400px;
  text-align: center;
  color: #E57168;
}

li {
  padding: 0px 400px 0px 400px;
  margin: auto;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  color: #E57168;
}

.postTitle {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

#body {
  height: 200px;
}

.dateTime {
  font-size: 0.8em;
  color: #A9A9A9;
}

.moreButtons {
  display: flex;
  justify-content: flex-start;
}