<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Tweetaholic!</title>
  </head>
  <body>
    <h1>These posts have been reported, please review them if they contain</h1>
    <li>Violence and Criminal Behavior</li>
    <li>Objectionable Content</li>
    <li>False Information</li>
    <li>Hate Speech</li>
    <br>
    <% thePost.map((o) =>{ %>
      <div class="postBox">
        <h2><%= o.title %></h2>
        <h2><%= o.author %> </h2>
        <p><%= o.body %> </p>
        <form action="/send-report/delete/<%= o.id %>" method="post">
          <button class="report" type="submit">Delete</button>
        </form>

      </div>
    <%  }) %>
  </body>
</html>
