<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>New Post</title>
</head>
<body>
  <div>
    <h1>Twoot Your Twoot</h1>
    <div class="postBox">
      <a href="/">Back to Feed</a>
      <a href="/twoots/edit/<%= twoot.id %>">Edit</a>
      <h2><%= twoot.title %></h2>
      <p><%= twoot.body %></p>
      <p><%= twoot.createdAt.toLocaleString() %></p>
    </div>
  </div>
</body>
</html>